{% extends 'cake_app/base.html' %}

{% block content %}
<h1 class="title-string">все о сайте</h1>
<p class="p-about">Текст про то какая Лера ахуенная пекарица! Печет прям закачаешься и все в
    таком духе. Дальше рандомный текст</p>
<p class="p-about">Роджер (II) де Монтгомери (фр. Roger de Montgommery, англ. Roger of
    Montgommery; около 1029 — 27 июля 1094) — нормандский аристократ, соратник
    Вильгельма Завоевателя, сеньор де Монтгомери с 1040-х годов, виконт Иемуа с
    около 1046/1047 года, сеньор д’Алансон после 1060 года до 1077/1079 года,
    сеньор де Беллем в 1071—1077/1079 годах, барон Арундела и Чичестера с
    1067/1068 года, 1-й граф Шрусбери с 1074 года, один из крупнейших магнатов
    Англии конца XI века.

    Благодаря браку с Мабель де Беллем Роджер распространил свою власть на
    владения Беллемского дома, располагавшиеся как на южной границе Нормандии,
    так и в Иль-де-Франс и графстве Мэн. Он не участвовал в первом этапе
    нормандского завоевания Англии в 1066 году, оставшись в Нормандии помогать
    жене Вильгельма управлять герцогством, однако в 1087 году отправился в
    новое королевство, получив там обширные и богатые владения в 12 графствах,
    в основном в Шропшире и Западном Суссексе. Позже Роджер получил и титул
    графа Шрусбери. В Шропшире он создал ряд оборонительных замков на границе с
    Уэльсом (Шропширская марка).

    После смерти Вильгельма I Завоевателя Роджер, как и некоторые из его
    сыновей, в 1088 году присоединился к восстанию против нового английского
    короля Вильгельма II Рыжего, однако вскоре вышел из него. Никаких
    последствий для него участие в мятеже не имело. В 1093 году Роджер
    предпринял поход в Уэльс. Чувствуя приближение смерти, он в 1094 году
    постригся в монахи основанного им аббатства Шрусбери, где и умер. Его
    владения были разделены между двумя старшими из выживших сыновей: Роберт де
    Беллем, который после убийства матери унаследовал её владения, получил
    отцовские земли в Нормандии, а Гуго — английские владения и титул графа
    Шрусбери.

    Роджер был единственным из вассалов Вильгельма Завоевателя, в честь
    которого было названо британское графство — Монтгомеришир в Уэльсе.</p>
{% endblock %}