{% extends 'cake_app/base.html' %}
{% load static %}

{% block content %}
    <h1 class="title-string">{{ title }}</h1>
    {% if title == 'Добавление торта' %}
        <p class="p-about">Обратите внимание на вид изделия. При добавлении торта, количество продуктов указывается на стандартный размер выпечки диаметром 16см. В случае добавления пироженого, количество продуктов указывается из расчета на 1 шт.</p>
    {% endif %}
    <form class="form-general" action="{% url link_name %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="div-form-error">{{ form.non_field_errors }}</div>
        {% if title == 'Добавление торта' %}
            {% for f in form %}
                <p class="form-p-input"><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                <div class="div-form-error">{{ f.errors }}</div>
            {% endfor %}
            <div class="div-with-p">
                <p class="p-for-form">
                    <label class="label-for-input" for="product">продукт 1</label>
                    <select name="product" required>
                        <option value="" selected>---------</option>
                            {% for p in products %}
                                <option value="{{ p.name }}">{{ p.name }}</option>
                            {% endfor %}
                    </select>
                    <input type="number" step="any" name="quantity" required class="input-quantity" min="0">
                    <button class="delete-button" type="button">Убрать</button>
                </p>
            </div>
            <div class="div-for-buttons">
                <button class="add-button" type="button">Добавить</button>
                <button class="clear-button" type="reset">Очистить</button>
                <button class="save-button" type="submit">Сохранить</button>
            </div>
        {% else %}
            {% for f in form %}
                <p class="form-p-input"><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                <div class="div-form-error">{{ f.errors }}</div>
            {% endfor %}
            <div class="div-for-buttons">
                <button class="submit-button" type="submit">Добавить</button>
                <button class="clear-button" type="reset">Очистить</button>
            </div>
        {% endif %}
    </form>
{% endblock %}

{% block script %}
    {% if title == 'Добавление торта' %}
        <script src="{% static 'cake_app/js/script_add_cake.js' %}"></script>
    {% else %}
        <script src="{% static 'cake_app/js/script_product.js' %}"></script>
    {% endif %}
{% endblock %}